In [34]:
import pandas as pd
import numpy as np

data = np.array([(1000, 25), (280, 120), (900, 30)])
table=pd.DataFrame(data, index=['store1', 'store2', 'store3'], columns=['unit price', 'number'])
table['total price']=table['unit price']*table['number']
print(table, '\n')
maxindex=np.argmax(table['total price'])
print(table.iloc[[maxindex]],'\n')

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600